# This is Git's per-user configuration file.
[user]
	name = Michael Milewski
	email = saramic@gmail.com
[pull]
	rebase = true
[core]
	editor = vi
	# editor = code --wait
	pager = less -F -X
	excludesfile = ~/.gitignore_global
[init]
	defaultBranch = main
[git-mob-config]
	github-fetch = true
[commit]
	template = /Users/michael.milewski/.gitmessage
